<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/add.css">
    <link rel='stylesheet' href='../public/stylesheets/search.css'>
    <link rel="stylesheet" href="../public/stylesheets/searchstyle.css">
    <title>admin of pocda</title>
</head>
<body>
    <div class="header">
        <div class="home_page">
            <ul>
                <li><h2>pocda</h2></li>
                <li>首页</li>
            </ul>
        </div>
        <div class="home_page_right">
            <ul>
                <li>
                    <form>
                        <div class="input-group">
                          <input type="text" id="search" placeholder="Search..." autocomplete="off">
                          <label for="search"><i class="fas fa-search"></i></label>
                        </div>
                        
                        <div class="suggestion-list hidden">
                        </div>
                      </form>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <div>
            <ul>
                <li>增加数据</li>
            </ul>
        </div>
    </nav>
    <script  src="../public/javascripts/search.js"></script>
</body>
</html>