<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>register pocda</title>
    <!-- Bootstrap Core CSS -->
    <link href="/www/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/www/stylesheets/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/www/stylesheets/simple-line-icons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/www/stylesheets/style.min.css" rel="stylesheet">
    <link href="/www/stylesheets/custom.css" rel="stylesheet">
</head>

<body>
    <form action="/register" method="POST">
    <section class="space-md border-bottom bg-light" id="signup">
        <div class="mask bg-dark"></div>
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="w-85">
                        <h2 class=""> SignUp for a free Trial </h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        <div class="row row d-flex justify-content-center mt-5">
                            <div class="col-md-8">
                                <!-- Input -->
                                <div class="form-message mb-3">
                                    <div class="input-group input-group form">
                                        <div class="input-group-prepend form__prepend"> <span class="input-group-text form__text">
                                                <span class="fa fa-envelope form__text-inner"></span> </span>
                                        </div>
                                        <input type="email" class="form-control form__input" name="email" required="" placeholder="Enter your email address" aria-label="Enter your email address">
                                    </div>
                                </div>
                                <!-- End Input -->
                                <!-- Input -->
                                <div class="form-message mb-3">
                                    <div class="input-group input-group form">
                                        <div class="input-group-prepend form__prepend"> <span class="input-group-text form__text">
                                                <span class="fa fa-lock form__text-inner"></span> </span>
                                        </div>
                                        <input type="password" class="form-control form__input" name="password" required="" placeholder="Create your password" aria-label="Create your password">
                                    </div>
                                </div>
                                <!-- End Input -->
                                <!-- Input -->
                                <div class="form-message mb-3">
                                    <div class="input-group input-group form">
                                        <div class="input-group-prepend form__prepend"> <span class="input-group-text form__text">
                                                <span class="fa fa-phone form__text-inner"></span> </span>
                                        </div>
                                        <input type="text" class="form-control form__input" name="phonenumber" required="" placeholder="Enter mobile number" aria-label="Enter mobile number">
                                    </div>
                                </div>
                                <!-- End Input -->
                                <div class="form-group text-left pt-2 pb-2"> <span class="lead-text">By joining, you agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy.</a></span> </div>
                                <button type="submit" class="btn btn-block btn-gradient">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </form>
    <footer class="pt-5 pb-1 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-auto">
                    <a class="d-inline-block mb-3 mr-4 text-light" href="#">Service</a>
                    <a class="d-inline-block mb-3 mr-4 text-light" href="#">About</a>
                    <a class="color-3 d-inline-block mb-3 mr-4 text-light" href="#">Pricing</a>
                    <a class="d-inline-block mb-3 mr-4 text-light" href="#">Contact</a>
                </div>

                <div class="col-12">
                <hr class="my-2">
                </div>
                <div class="col-lg-auto mt-4">
                    <h5 class="mb-4 text-white">pocda.com</h5>
                </div>

                <div class="col-lg-auto ml-lg-auto mt-4"><a class="d-inline-block mb-3 mr-4 text-light" href="#">Pricing</a><a class="d-inline-block mb-3 mr-4 text-light" href="#">About</a>
                    <a class="color-4 mr-4" href="#"></a>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </footer>
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container"> </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/www/javascripts/jquery.min.js"></script>
    <script src="/www/javascripts/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/www/javascripts/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/www/javascripts/stylelogin.js"></script>
</body>

</html>